node_modules/
npm-debug.log*
.env
/Archived Codes/render_waka_png.js
/Archived Codes/oo.md
/Archived Codes/FRCodeArchived.md
/Archived Codes/l.md
/Archived Codes/repos-summary.svg

*.iml
.idea/

.DS_Store

target/
build/
*.log

.env.local
*.env
!sample.env

*.class
*.jar
*.war
*.ear