# Node
node_modules/
npm-debug.log*

# Env files (keep template)
.env
.env.local
*.env
!sample.env

# IDEs / Editors
.idea/
*.iml
.vscode/

# Mac
.DS_Store

# Build / output
dist/
build/
target/
coverage/

# Java artifacts
*.class
*.jar
*.war
*.ear

# Logs
*.log

/Archived Codes/